Repository GDSC-Wetox/Wetox-iOS, pull requests merged in 2024-02, with the labels that each got.

#13 [FEAT] [HOTFIX] 카카오 로그인 문제 수정 및 메인 View 연결
  Wetox-iOS/Wetox-iOS.xcodeproj/project.pbxproj
  Wetox-iOS/Wetox-iOS/View/LoginViewController.swift
  Wetox-iOS/Wetox-iOS/View/MainViewController.swift
  Wetox-iOS/Wetox-iOS/View/ScreenTimeInputView/ScreenTimeInputViewController.swift
Labels: bug, FEAT, 혜민, Login

#18 [FEAT] ScreenTime, UserProfile API 구현
  Wetox-iOS/Wetox-iOS.xcodeproj/project.pbxproj
  Wetox-iOS/Wetox-iOS/Extension/DateFormatter+Extension.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/ScreenTime/CategoryDurationRequest.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/ScreenTime/CategoryDurationResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/User/UserResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkService/ScreenTime/ScreenTimeAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/ScreenTime/ScreenTimeService.swift
  Wetox-iOS/Wetox-iOS/NetworkService/User/UserAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/User/UserService.swift
  Wetox-iOS/Wetox-iOS/Utility/Constants.swift
  Wetox-iOS/Wetox-iOS/View/MainViewController.swift
  Wetox-iOS/Wetox-iOS/View/ScreenTimeInputView/CustomUISlider.swift
  Wetox-iOS/Wetox-iOS/View/ScreenTimeInputView/ScreenTimeInputViewController.swift
  Wetox-iOS/Wetox-iOS/ViewModel/MainViewModel.swift
  Wetox-iOS/Wetox-iOS/ViewModel/ScreenTimeInputViewModel.swift
Labels: FEAT, ScreenTime, 혜민

#21 [FEAT] Friend Search API 연동 구현
  Wetox-iOS/Wetox-iOS.xcodeproj/project.pbxproj
  Wetox-iOS/Wetox-iOS/Extension/Color+Extension.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/acceptFriendshipResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/getFriendRequestsListResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/getFriendsListResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/requestFriendshipResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/User/NicknameSearchRequest.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/User/NicknameSearchResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Auth/AuthAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Friendship/FriendshipAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Friendship/FriendshipService.swift
  Wetox-iOS/Wetox-iOS/NetworkService/User/UserAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/User/UserService.swift
  Wetox-iOS/Wetox-iOS/SceneDelegate.swift
  Wetox-iOS/Wetox-iOS/View/AlertTableViewCell.swift
  Wetox-iOS/Wetox-iOS/View/AlertViewController.swift
  Wetox-iOS/Wetox-iOS/View/FriendshipViewController.swift
Labels: FEAT, 소현

#24 [FEAT] AlertVC 친구 요청 리스트 API 연동 구현
  Wetox-iOS/Wetox-iOS.xcodeproj/project.pbxproj
  Wetox-iOS/Wetox-iOS/Extension/Color+Extension.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/AcceptFriendshipResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/GetFriendRequestsListResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/GetFriendsListResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/RequestFriendshipResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkModel/Friendship/getFriendRequestsListResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Friendship/FriendshipAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Friendship/FriendshipService.swift
  Wetox-iOS/Wetox-iOS/View/AlertTableViewCell.swift
  Wetox-iOS/Wetox-iOS/View/AlertViewController.swift
  Wetox-iOS/Wetox-iOS/View/FriendshipViewController.swift
Labels: FEAT, 소현

#26 [FEAT] 배지 API 연동 구현
  Wetox-iOS/Wetox-iOS.xcodeproj/project.pbxproj
  Wetox-iOS/Wetox-iOS/NetworkModel/Badge/BadgeResponse.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Badge/BadgeAPI.swift
  Wetox-iOS/Wetox-iOS/NetworkService/Badge/BadgeService.swift
  Wetox-iOS/Wetox-iOS/View/Badge/BadgeView.swift
  Wetox-iOS/Wetox-iOS/View/DailyViewController/DailyView.swift
  Wetox-iOS/Wetox-iOS/ViewModel/BadgeViewModel.swift
Labels: FEAT, 혜민, Badge
